<a> Categoria: </a>
<div class="productos-container">

    <div *ngFor="let producto of productos" class="card">
      
      <!-- Imagen o Video -->
      <div class="media-container" (click)="reproducirVideo(producto)">
        <ng-container *ngIf="videoActivo === producto.id; else imagenTemplate">
          <iframe
            [src]="sanitizarUrl(producto.foto)"
            frameborder="0"
          allow="autoplay; encrypted-media; muted"
            allowfullscreen>
          </iframe>
        </ng-container>
        <ng-template #imagenTemplate>
          <img [src]="producto.foto" [alt]="producto.nombre">
        </ng-template>
      </div>
  
      <!-- Info del producto -->
      <div class="info">
        <h3>{{ producto.nombre }}</h3>
        <p>{{ producto.descripcion }}</p>
        <small>{{ producto.tipo }}</small>
      </div>
    </div>
  </div>
