<div class="contacto-container">
  <h1 class="titulo-principal">Contacto JPC Electronics</h1>

  <section class="contacto-seccion">
    <div class="contact-card">
      <div class="icono-card">📍</div>
      <div class="info-card">
        <h3>Dirección</h3>
        <p>Euclides y Esquilo, Cuenca, Ecuador</p>
      </div>
    </div>

    <div class="contact-card">
      <div class="icono-card">📞</div>
      <div class="info-card">
        <h3>Teléfono</h3>
        <p>+593 998 683 511</p>
      </div>
    </div>

        <div class="contact-card">
      <div class="icono-card">🌐</div>
      <div class="info-card">
        <h3>Correo Electronico</h3>
        <p>jpc-electronics.com</p>
      </div>
    </div>

    <div class="contact-card">
      <div class="icono-card">🌐</div>
      <div class="info-card">
        <h3>Red Social</h3>
        <p><a href="https://www.jpc-electronics.com" target="_blank" class="enlace-social">Facebook</a></p>
      </div>
    </div>
  </section>
</div>
